**/charter.md @finos/ccc-steerco
/.github @finos/ccc-steerco
/docs/governance @finos/ccc-steerco

/docs/governance/working-groups/community-structure @finos/ccc-wg-community-structure @finos/ccc-steerco
/.vscode @finos/ccc-wg-community-structure
/docs/community-guidelines @finos/ccc-wg-community-structure
/* @finos/ccc-wg-community-structure

/docs/governance/working-groups/taxonomy @finos/ccc-wg-taxonomy @finos/ccc-steerco
**/capabilities.yaml @finos/ccc-wg-taxonomy
**/service-categories.yaml
services/service-families.yaml

/docs/governance/working-groups/security @finos/ccc-wg-security @finos/ccc-steerco
**/threats.yaml @finos/ccc-wg-security
**/controls.yaml @finos/ccc-wg-security
**/*.feature @finos/ccc-wg-security

/docs/governance/working-groups/communications @finos/ccc-wg-communications @finos/ccc-steerco
