# Name of default directory for oscal-cli
build/oscal-cli
# VS Code 
.DS_Store
# Delivery Tooling
delivery-toolkit/artifacts
# Temporary backup during website/scripts/GenerateReleaseCatalogs.ts (flat controls normalization)
**/controls.yaml.backup
.env/

# CFI Test Results
website/src/data/test-results/**/*
website/static/downloads/cfi/**/*
