# Example
/README.md @AdrianHammond @eddie-knight @git-hub-forwork1 @iMichaela @jonmuk @l1ttlej1m @mark-rushing @moematar @nas-hub @pgste @rachkim00 @rajkrishnamurthy @rhyddian @simonzhangbmo @selgags @valmihai @vicenteherrera

# Docs
/docs/governance/steering/**                                    @ccc-steerco
/docs/governance/special-interest-groups/cybersecurity          @ccc-sig-cybersecurity
/docs/governance/special-interest-groups/multicloud-portability @ccc-sig-multicloud-portability
/docs/governance/special-interest-groups/regulation-compliance  @ccc-sig-regulation-compliance
/docs/governance/special-interest-groups/specification-design   @ccc-sig-specification-design
