.cta {
	background-color: white;
	border: 2px dashed #000000;
	border-radius: .5rem;
	color: black;
	font-size: 2rem;
	line-height: 1.2em;
	padding: 1rem;
	text-decoration: none !important;
	transition: background .3s, color .3s;
	max-width: 35rem;
	text-align: center;
		font-family: 'Inter, system-ui, -apple-system, BlinkMacSystemFont';

	font-weight: 600;
	margin: auto
}

.cta img {
	width: 6rem;
	background-color: white;
}

.cta p {
	margin: 0;
}

.strap {
	font-size: 1.5rem;
	font-weight: 500;
	text-align: center;
}

html[data-theme=dark] .cta {
	color: white;
	background-color: black;
	border: 2px dashed white;
}

.button{
	display: flex;
	justify-content: center;


	padding: 1rem;

	margin: auto;
	margin-bottom: 1.5rem;
	max-width: 15rem;

	border-radius: 0.75rem;
	box-shadow: 0 4px 14px rgba(67, 77, 103, 0.4);

	background: #1e3a8a;
	color: #fff;

	font-weight: 600;

	transition: filter 0.2s, transform 0.2s;
}

.button:hover {
	text-decoration: none;
}

@media screen and (max-width: 600px) {
  .strap {font-size: 1rem;}
}