.avatar {
  position: relative;
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 9999px;
}

.avatarImage {
  aspect-ratio: 1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.avatarFallback {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background: var(--gf-color-background);
  color: var(--gf-color-text);
  font-size: 0.875rem;
  font-weight: 500;
}
