name: "Format Check"

on:
  workflow_call:

jobs:
  prettier-fmt-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
  
      - name: Install Prettier
        run: npm install --save-dev prettier
  
      - name: Check formatting with Prettier
        run: npx prettier --check "**/*.md" --config ./.config/.prettierrc